@import
url('https://fonts.googleapis.com/css?family=Ranchers');

.main {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	margin-top: -5px;
	text-align: center;
	padding: 1em;
}

body {
		background-color: #669999;
}

h1 {
	font-family: 'Ranchers', sans-serif;
}

p {
		font-family: 'Ranchers', sans-serif;
}